[workspace]
members = ["./", "celery-codegen"]

[package]
name = "celery"
version = "0.2.6"
authors = ["epwalsh <epwalsh10@gmail.com>"]
edition = "2018"
keywords = ["celery", "amqp", "rabbitmq", "background-jobs"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/rusty-celery/rusty-celery"
homepage = "https://github.com/rusty-celery/rusty-celery"
description = "Rust implementation of Celery"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[lib]
name = "celery"
path = "src/lib.rs"

[[example]]
name = "celery_app"

[dependencies]
chrono = "0.4"
tokio = { version = "0.2.13", features = ["full"]}
serde = { version = "1.0", features = ["derive"]}
serde_json = "1.0"
failure = "0.1.7"
async-trait = "0.1"
lapin = { version = "0.39.7", features = ["default", "futures"] }
amq-protocol = "3.1"
log = "0.4"
futures = { version = "0.3", features = ["async-await"] }
uuid = { version = "0.8", features = ["v4"]}
rand = "0.7"
celery-codegen = { version = "0.2.6", path = "./celery-codegen", optional = true }
once_cell = { version = "1.3.1", optional = true }
globset = "0.4"
# This is only used by amqp-protocol. We need to pin to this version to avoid a compilation error
# where building on nighty Rust.
cookie-factory = "0.3.1"
hostname = "0.3.0"

[dev-dependencies]
env_logger = "0.7"
exitfailure = "0.5.1"
structopt = "0.3"

[features]
default = ["codegen"]
codegen = ["celery-codegen", "once_cell"]
